* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    min-height: 100vh;
    align-items: center;
    text-align: center;
}

.header {
    padding: .5rem 1rem;
    width: 100%;
    background-color: #eee;
}

.topbar {
    margin: 0 auto;
}

form {
    min-width: unset;
    max-width: unset;
    border: unset;
    box-shadow: unset;
    padding: unset;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

.radio-item {
    margin-top: 0.1rem;
}

.row {
    margin: 1rem 0;
    width: 100%;
    text-align: left;
}

.row-flex {
    display: flex;
    padding: 0;
}

.col {
    padding: unset 1rem;
}

.col-25 {
    flex: 25%;
    border-right: 1px solid black;
    padding-right: 1rem;
}

.col-75 {
    flex: 75%;
    padding-left: 1rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-content {
    width: 100%;
}

input,
select {
    font: inherit;
}

h3 {
    margin-bottom: 0.5rem;
}

h4 {
    margin-bottom: 0.5rem;
}

#enterText {
    /* padding for languages that need to display underlines */
    padding: 0.4rem;
    color: #495057;
    width: 100%;
    max-width: unset;
    border: 1px solid #ddd;
    transition: border-color .1s ease-in-out, box-shadow .1s ease-in-out;
}

#enterText:focus {
    background-color: #fff;
    border-color: #99bbef;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
    outline: 0;
}

#enterText::placeholder {
    color: #aaa;
}

#mainColumn {
    font-size: 24px;
}

.row>p {
    margin: .5rem 0;
    text-align: left;
}

.mt-1 {
    margin: 1rem 0 0 0;
}

#message {
    font-size: 16px;
    color: #666;
}

#word {
    color: #c00;
    text-align: left;
    padding: 0.4rem;
}